body {
    font-family: sans-serif;
    padding: 1em;
}

h1 {
    margin-bottom: 1.5em;
}

a {
    margin-bottom: 1em;
}

label {
    font-weight: bold;
}

hr {
    margin-top   : 3rem;
    margin-bottom: 3rem;
}